@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a5568;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="password"]::-webkit-reveal {
  display: none !important;
}

input[type="password"]::-ms-reveal {
  display: none !important;
}

.glow-border::before {
  content: "";
  position: absolute;
  inset: -3px; /* que rodee la tarjeta */
  z-index: -1;
  border-radius: 1rem;
  background: linear-gradient(45deg, #ffbf00, #ffd988, #fff3c2);
  filter: blur(8px);
  opacity: 1;
}
